# Ambientes Virtuais e Dependências Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Configurações de IDEs
.vscode/
.idea/
*.swp

# Logs da Aplicação
*.log
app_debug.log

# Dados da IA e Configurações Locais
vetores_ia.json
config.json
dados_ultimo.json
modelos_custom.json
app_debug.log

# Artefatos de Build / Executáveis (PyInstaller)
build/
dist/
*.spec
*.exe
.chroma/
chroma_db/
dlls/