# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais
venv/
env/
.env
.venv/

# Dados e Configurações Locais da Aplicação
config.json
vetores_ia.json
modelos_custom.json
history.db

# Logs e Saídas
app_debug.log
*.pdf
chroma_db/
build/
dist/
dlls/